<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>

    <div class="header">
        <a href="/" class="logo">AbsoluteSpace</a>
        <div class="header-right">
            {% for item in site.data.navigation %}
            <a href="{{ item.link }}" {% if page.url==item.link %} class="active" {% endif %}>{{ item.name
                }}</a>
            {% endfor %}
        </div>
    </div>